/*class for name logo and git/linked-in link */
.git-linkedIn-logo-box {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 46px;
  width: 232px;
}

.git-linkedIn-logo-box img {
  opacity: 0.4;
	width:42px;
	height:42px;
	border:0;
}

.git-linkedIn-logo-box img:hover {
  opacity: 1.0;
}

/* CSS for logo Matthew Diaz rainbow color effect */
@-webkit-keyframes colorAnimation {
  0%     {color: orange;}
  12.5%  {color: yellow;}
  25%	   {color: aqua;}
  37.5%  {color: blue;}
  50%	   {color: black;}
  62.5%  {color: #ADD8E6;}
  75%	   {color: red;}
  87.5%  {color: #FFA07A;}
  100%   {color: green;}
}

.git-linkedIn-logo-box .logo-rainbow-box {
  height: 100%;
  -webkit-animation: colorAnimation 10s;
  text-align: center;
  font-size: 25px;
  font-family: Pacifico, Ariel;
  animation-iteration-count: infinite;
  float: right;
}

/*sytle for signature located bottom-right of the page*/
.signature{
	position: fixed;
	bottom: 0;
	right:5px;
	color:blue;
	font-style: oblique;
}

/*h1 is used for the Welcome/Courses/Projects at the top of the page*/
h1{
	float:left;
	background: #87CEFA;
	margin:0px;
  height:40px;
}

nav ul{
	/*style in html file allows for css code in html files!! */
	list-style-type:none;  /*No bullet points or anything*/
	margin: 0;
	padding:0;
}

nav li{
	float:left;
}

/*the nav is used for three links which are home,courses, and projects*/
nav a:link, a:visited{ /*the a:link and a:visited specify when the a should follow the text below*/
	display:block; /* displa:block is for making the list vertical */
	width:120px;
	height:30px;
	background-color:yellowgreen;   /* Change background color of all the a which are links*/
	color:white;  /*color changes the color of the text */
	text-decoration:none; /*remove underline*/
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
	padding: 5px; /*adding space between tabs */

}

/*when a  is active the background color changes */
nav a:hover, a:active{
	background-color:green;
}


/*class profile-box is the css code for the box in welcome page*/
.profile-box{
  background-color:#F1EDBB;
  width:800px;
  padding:25px;
  border:1.5px solid black;
  left: 20%;
  position: absolute;
  top: 25%;
  text-align:left;
}

.profile-box img{
  width:150px;
  height:150px;
  padding:10px;
  float: right;
}

/*---------------------------------------------------------------------------*/
/*                      Css for courses.html                                 */
/*---------------------------------------------------------------------------*/

.schedule-description-box{
	width: 100%;
	height: 372px;
	background-color: aliceblue;
	border: 1px solid aquamarine;
}

.schedule-description-box a{
	text-decoration: none;
  color: black;
}

/*---------------------------------------------------------------------------*/
/*                      Css for projects.html                                */
/*---------------------------------------------------------------------------*/

.project-description-box{
	width: 100%;
  height: 250px;
  background-color: lavenderblush;
  border-radius: 30px;
}
.project-description-box img{
	width:180px;
	height:200px;
	padding:5px;
	float: right;
}

/*On project page. This is for click of image text customization. */
h5{
	font-style: italic;
	bottom: 0;
	color:#3366FF;
}
